:root{
  --rosa-bebe:#f5bae1;
  --preto:#000000;
  --branco:#ffffff;
  --cinza-card:#111111;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* página */

body{
  background:var(--preto);
  color:var(--branco);
  font-family:Arial, Helvetica, sans-serif;
}


.portfolio-container{
  width:100%;
}

.navbar{
  position:fixed;
  top:0;
  width:100%;
  height:70px;

  background:var(--rosa-bebe);

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 40px;
  z-index:1000;
}

.logo{
  font-size:22px;
  font-weight:bold;
  color:black;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
  align-items:center;
}

.nav-links a{
  text-decoration:none;
  color:black;
  font-weight:600;
}

.nav-links a:hover{
  opacity:0.7;
}


.nav-icon{
  width:28px;
  height:28px;
}

.section{
  min-height:50vh;
  padding:120px 40px;
  text-align:center;
}


.home {
  background-color:rgb(4, 4, 5);
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.home-text {
  width: 50%;
  padding-left: 80px;
}

.home-text h1 {
  font-size: 50px;
  color: #ffffffc2;
  
}

.home-text h2 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  
}
.home-image {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-image img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

/* ================= SOBRE ================= */

.sobre-container{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
  padding:60px 20px;
}

.sobre-esquerda h2 {
  font-size: 70px;
  font-family: sans-serif;
}

.sobre-esquerda{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

.sobre-direita{
  max-width:500px;
}

.sobre-lista{
  list-style:none;
  padding:0;
}

.sobre-lista li{
  margin-bottom:12px;
  font-size:20px;
}

.profile-img{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius: 10%;
  margin-top:20px;
  border:4px solid #eaeaea;
}

/* ================= CARDS ================= */

.cards-container{
  margin-top:40px;

  display:flex;
  gap:25px;

  overflow-x:auto;
  scroll-behavior:smooth;

  padding:10px 40px;
}

/* esconde a barra de scroll */
.cards-container::-webkit-scrollbar{
  display:none;
}

.card{
  background:var(--cinza-card);
  padding:25px;

  min-width:280px;
  max-width:280px;

  border-radius:10px;
  text-align:left;

  flex-shrink:0;
}

.section-experiencias h2{
  font-size:40px;
  text-align:center;
}

/* ================= PROJETOS ================= */

.projeto-img{
  width:100%;
  border-radius:8px;
}

.tecnologias{
  margin-top:10px;
  font-size:14px;
  color:#ccc;
}

.projeto-link{
  display:inline-block;
  margin-top:15px;
  color:var(--rosa-bebe);
  text-decoration:none;
  font-weight:bold;
}

.section-projetos h2 {
  font-size: 40px;
  flex-direction:column;
  align-items:center;
  text-align:center;
}


/* ================= CONTATO ================= */

.contato{
  text-align:center;
}

.social-links{
  margin-top:15px;
  display:flex;
  justify-content:center;
  gap:20px;
  font-size:14px;
}

.social-links a{
  color:var(--rosa-bebe);
  text-decoration:none;
  transition:0.3s;
}

.social-links a:hover{
  opacity:0.7;
}

/* ================= FOOTER ================= */

footer{
  text-align:center;
  padding:30px;
  background: var(--rosa-bebe);
  font-size:14px;
}

footer p {
  color: var(--preto);
}